* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Microsoft YaHei";
  -webkit-touch-callout: none;

}
*:focus {outline: none;}
html,body {
  width: 100%;
  height: 100%;
  font-size:12px;
  background-color: #f1f1f1;
}
body -webkit-scrollbar {
  width: 0;
}

img {
  border: none;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #be0d23;
}
input[type=button],
input[type=submit] {
  -webkit-appearance: none;
  outline: none;
}

.btnSt2{
  line-height:1;
}
.clear {
  display: block;
  clear: both;
}

.hide {
  display: none;
}
ul li {
  list-style: none;
}
i,b{font-style: normal;font-weight: normal;}
h1,h2,h3,h4,h5{
  font-weight: normal;
}


